@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Begin Manual of Style CSS */
/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] em,
[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}
/* End all epigraphs */

/* Epigraph header citations */
header [epub|type~="epigraph"] cite{
	font-variant: small-caps;
}
/* End epigraph header citations */

/* Epigraphs in section headers */
article > header [epub|type~="epigraph"],
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

@supports(display: table){
	article > header [epub|type~="epigraph"],
	section > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */

/* Poetry */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}
/* End Poetry */
/* End Manual of Style CSS */

/* Memorial Stones */
#the-haunted-valley blockquote,
#a-resumed-identity blockquote{
	text-align: center;
}

#the-haunted-valley blockquote b,
#a-resumed-identity blockquote b{
	text-transform: uppercase;
}
